.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    border: 2px solid black;
    width: 50%;
    max-width: 450px;
    aspect-ratio: 9/10;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.display {
    border: 2px solid black;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: auto ;
    background-color: rgb(72, 125, 19);
    font-size: 60px;
    font-family: "Arial", sans-serif; 
    overflow: hidden;
    
}

.input{
    width:100%;
    height:70%;
    display: flex;
    flex-wrap: wrap;
}

.btn{
    border: 2px solid black;
    width: 25%;
    height: 25%;
    margin: 0px;
    font-size: large;
    font-weight: bold;
}

.btn:hover{
    background-color:bisque;
}