.container{
    width: 500px;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.cell{
    box-sizing: border-box;
    aspect-ratio: 1;
}

.btn{
    display: flex;
}

.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
}